body{
	background-color: teal;
	font-family: 'Ranchers', serif;
	z-index: -4;
	
}
#map{
	/*position: absolute;*/
	/*min-width: 100%; */
	/*min-height: 100%;*/
	/*height: 100%;*/
	/*height: 600px;
	width: 1000px;*/
	 position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;
    width:100%;
    height:100%;
}
#finder{
	position: absolute;
	color: grey;
	font-size: 40px;
	letter-spacing: 5px;
	z-index: -2;
}
#fabButton{
	position: fixed;
	/*z-index: -1;*/
}
#sidenavFinder{
	/*color: white;*/
	font-size: 50px;
	letter-spacing: 5px;
}
#menuButton{
	position: fixed;
}
#sideNav{
	/*position: absolute;*/
	/*z-index: 3;*/
}