body{
	background-color: teal;
	font-family: 'Ranchers', serif;
	
}
#map{
	height: 670px;
	width: 1000px;
}
#finder{
	color: white;
	font-size: 40px;
	letter-spacing: 5px;
}
#sidenavFinder{
	/*color: white;*/
	font-size: 50px;
	letter-spacing: 5px;
}
#menuButton{
	position: fixed;
}